<br>
# Mars' Python Tutorial 3

In [1]:
#Review Exercise: Print out the Keys and Values of the following dictionary
# in this format: "My _key_ is very _value_" 
to_print = {
    "appple": "red", 
    "banana": "yellow",
    "orange": "orange",
    "lemon" : "purple",
    "blueberry": "modest",
}
for fruit, colour in to_print.items():
    print("My " + );

In [18]:
#Review Exercise: make a function that returns the sum and difference
#of the two input numbers (hint: use zip)

In [2]:
#Review Exercise: open file "review.txt" and store each line in a list
#remember to remove the newline character 
poem = []

['This is my humble attempt, \n',
 'to write a poem again.\n',
 'I always feel contempt, \n',
 'that no one is popping champagne.\n']

<br>
# CSV files
CSV files stand for comma seperated values, which how programs like excel format their files. 

<img src="example.png">

In [11]:
#Exercise open this file and store the information in a list
# remember to use split on commas

['2012',
 'MITSUBISHI',
 'i-MiEV',
 'SUBCOMPACT',
 '49',
 'A1',
 'B',
 '16.9',
 '21.4',
 '18.7',
 '1.9',
 '2.4',
 '2.1',
 '0',
 'n/a',
 '100',
 '7\n']

Using the "csv" package

In [4]:
import csv
import csv as c   #not recommeded (package name is already short)

In [7]:
with open('cars.csv') as csvfile:
    cars = list(csv.reader(csvfile,delimiter =','))
#default delimiter is ','
with open('cars.csv') as csvfile:
    cars = list(csv.reader(csvfile))
cars[0]

['2012',
 'MITSUBISHI',
 'i-MiEV',
 'SUBCOMPACT',
 '49',
 'A1',
 'B',
 '16.9',
 '21.4',
 '18.7',
 '1.9',
 '2.4',
 '2.1',
 '0',
 'n/a',
 '100',
 '7']

In [ ]:
#print out he make and model of the first 5 cars

In [8]:
with open('cars.csv') as csvfile:
    cars = list(csv.DictReader(csvfile))
    
cars[:3] # The first three dictionaries in our list.

[{'(g/km)': '0',
  '(kW)': '49',
  '(km)': '100',
  'CITY (Le/100 km)': '1.9',
  'CITY (kWh/100 km)': '16.9',
  'COMB (Le/100 km)': '2.1',
  'COMB (kWh/100 km)': '18.7',
  'HWY (Le/100 km)': '2.4',
  'HWY (kWh/100 km)': '21.4',
  'Make': 'MITSUBISHI',
  'Model': 'i-MiEV',
  'RATING': 'n/a',
  'Size': 'SUBCOMPACT',
  'TIME (h)': '7',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2012'},
 {'(g/km)': '0',
  '(kW)': '80',
  '(km)': '117',
  'CITY (Le/100 km)': '2.2',
  'CITY (kWh/100 km)': '19.3',
  'COMB (Le/100 km)': '2.4',
  'COMB (kWh/100 km)': '21.1',
  'HWY (Le/100 km)': '2.6',
  'HWY (kWh/100 km)': '23.0',
  'Make': 'NISSAN',
  'Model': 'LEAF',
  'RATING': 'n/a',
  'Size': 'MID-SIZE',
  'TIME (h)': '7',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2012'},
 {'(g/km)': '0',
  '(kW)': '107',
  '(km)': '122',
  'CITY (Le/100 km)': '2.1',
  'CITY (kWh/100 km)': '19.0',
  'COMB (Le/100 km)': '2.2',
  'COMB (kWh/100 km)': '20.0',
  'HWY (Le/100 km)': '2.4',
  'HWY (kWh/100 km)': '21.1',
  'Make': 'FORD',
  'Model': 'FOCUS ELECTRIC',
  'RATING': 'n/a',
  'Size': 'COMPACT',
  'TIME (h)': '4',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2013'}]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 53 dictionaries.

In [9]:
len(cars)

53

<br>
since mpg is a list of dictionaries, `keys` gives us the column names of our csv.

In [10]:
cars[0].keys()

dict_keys(['COMB (kWh/100 km)', 'Size', 'CITY (kWh/100 km)', 'COMB (Le/100 km)', 'Model', '(kW)', 'Make', 'TYPE', 'CITY (Le/100 km)', 'RATING', '(g/km)', '(km)', 'TIME (h)', 'HWY (Le/100 km)', 'Unnamed: 5', 'YEAR', 'HWY (kWh/100 km)'])

In [27]:
##Exercise: calculate the average electricity consumption while driving in the city

2.21

In [29]:
##Exercise2: count how many different brands of cars there are, and print out all the different brands once

8

# List Comprehension

imagine if you can fit your for loops in one line

In [1]:
a = [1,2,3,4,5,6,7]
b = []
for num in a: 
    b.append(num*2)
b

[2, 4, 6, 8, 10, 12, 14]

using the "for... in" syntax, it's almost writing a for loop in reverse

In [ ]:
a = [1,2,3,4,5,6,7]
b = [num*2 for num in a]
b

In [2]:
#Exercise: using list comprehension and "range" syntax to store number 0 to 9 to list "numbers"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Is this really worth it tho? We can actually include if statements in list comprhension

"__ if ____ else ___ for ___ in ___" or "___ for ____ in ____ if ___"

In [5]:
a = [0,1,2,3,4,5,6,7,8,9,10]
b = [num for num in a if num%2 == 0]
b

[0, 2, 4, 6, 8, 10]

In [6]:
c = [-num if num%2 ==0 else num*10 for num in a]
c

[0, 10, -2, 30, -4, 50, -6, 70, -8, 90, -10]

In [18]:
#Exercise: read in file "practice2.txt". parse each word as an element in the list. 
#return only the first 2 characters for words longer than 5 characters
#captialize words than are shorter than 5 characters
#Use list comprehension!
#eg: ['THE','MAIN','co','FOR','THE','ac','OF','LOVE','IS','THE','ov','OF'.........

['THE',
 'MAIN',
 'co',
 'FOR',
 'THE',
 'ac',
 'OF',
 'LOVE',
 'IS',
 'THE',
 'ov',
 'OF',
 'on',
 'na',
 'THE',
 'na',
 'or',
 'IS',
 'ONE',
 'IN',
 'wh',
 'ONE',
 'ex',
 'AS',
 'REAL',
 'ONLY',
 'THAT',
 'wh',
 'ex',
 'wi',
 'on',
 'wh',
 'THE',
 'ph',
 'IN',
 'THE',
 'ou',
 'wo',
 'HAVE',
 'NO',
 're',
 'IN',
 'th',
 'BUT',
 'ARE',
 'ex',
 'ONLY',
 'FROM',
 'THE',
 'vi',
 'OF',
 'th',
 'be',
 'us',
 'OR',
 'da',
 'TO',
 'ONE.',
 'THE',
 'op',
 'POLE',
 'TO',
 'na',
 'IS',
 'ob',
 'IT',
 'IS',
 'THE',
 'fa',
 'TO',
 'SEE',
 'ot',
 'pe',
 'AND',
 'th',
 'AS',
 'THEY',
 'ARE,',
 'ob',
 'AND',
 'TO',
 'BE',
 'ABLE',
 'TO',
 'se',
 'THIS',
 'ob',
 'pi',
 'FROM',
 'A',
 'pi',
 'wh',
 'IS',
 'fo',
 'BY',
 'on',
 'de',
 'AND',
 'fe']

# Applying List Comprehension
back on our cars.csv example

In [ ]:
###Exercise: calculate the average electricity consumption while driving in the city
#Using list comprehension

In [ ]:
##Exercise2: count how many different brands of cars there are, and print out all the different brands once
#Using list comprehension

the __zip__ keyword

In [16]:
A = [1,2,3,4,5,6]
B = [11,12,13,14,15,16]
for a,b in zip(A,B):
    print("%i minus %i equals to %i"%(b,a,b-a))

11 minus 1 equals to 10
12 minus 2 equals to 10
13 minus 3 equals to 10
14 minus 4 equals to 10
15 minus 5 equals to 10
16 minus 6 equals to 10

zip is limited by the shortest list

In [18]:
C = [1,1]
D = [1,2,3,4,5,6,7]
for c,d in zip(C,D):
    print(c,d)

1 1
1 2

Using zip in list comprehension

In [ ]:
#return a list of the max element from each list for each index
#use zip and list comprehension
#eg: [2,44,100.....]
E = [2,44,12,16,23,1]
F = [0,1,100,12,14,2]

# Lambda Functions: writing functions in 1 line

lambda  __variable__  :  __returnValue__

In [11]:
a = lambda x: x*2
a(2)

4

In [12]:
b = lambda x,y: x+y
b(2,3)

5

In [ ]:
#Exercise: write a lambda function that returns the product of two numbers