<br>
# Mars' Python Tutorial 1

<br>
## Jupyter notebook:

<br>
Press Shift+Enter to run cell

In [ ]:
1+1

<br>
## The basics: variable, types and datastructures

<br>
Use `type` to return the object's type.

In [9]:
type('Hello, welcome to our weekly workshop')

str

In [6]:
type(None)

NoneType

In [ ]:
type(1)

In [ ]:
type(1.0)

In [8]:
type(add_numbers)

NameError: name 'add_numbers' is not defined

<br>
Tuples are an immutable data structure (cannot be altered).

In [ ]:
x = (1, 'a', 2, 'b')
type(x)

<br>
Lists are a mutable data structure.

In [5]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [10]:
x.append(3.3)
print(x)

NameError: name 'x' is not defined

<br>
This is an example of how to loop through each item in the list.

In [7]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Strings are a list of characters

In [9]:
#EXERCISE: set y to your name and print out characters from y one at time using for loop

<br>
Indexing operator with while loop:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

In [9]:
#EXERCISE: print out characters from y one at time using while loop

<br>
Use `+` to concatenate lists.

In [8]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [9]:
[1]*3

[1, 1, 1]

In [11]:
#EXERCISE: how to multiply each values in list a by 3?
a = [1]*3

<br>
Use the `in` operator to check if something is inside a list.

In [12]:
1 in [1, 2, 3]

True

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [11]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

<br>
This will return the last element of the string.

In [13]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [14]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [15]:
x[3:]

's is a string'

In [11]:
#EXERCISE: set variable name to your full name and print out the reverse of your last name using list slicing
name =

In [ ]:
firstname = 'Mars'
lastname = 'Huang'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Mars' in firstname)

In [14]:
##EXERCISE: print the following
# print a,b and c on the same line
a = 1
b = 2
c = 3

1
2

In [15]:
# print lists a,b and c on the same line as seperate lists
a = [1,2]
b = [3,4]
c = [5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# print lists the frist 4 elements of list A and the reverse of last 3 elements of list B as one list
A = [0,1,2,3,4,5,6,7,8,9]
B = [14,13,12,11,10]

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [16]:
name = 'Mars Shih-Cheng Huang'
print(name.split(' '))

['Mars', 'Shih-Cheng', 'Huang']

In [ ]:
#print out my last name and first name from "name" using list indexing and split

<br>
Make sure you convert objects to strings before concatenating.

In [ ]:
'Mars' + 2

In [ ]:
'Mars' + str(2)

<br>
Dictionaries associate keys with values.

In [17]:
x = {'Mars Huang': 'marshuang80@gmail.com', 'Bill Gates': 'billg@microsoft.com'}
x['Mars Huang'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [ ]:
x['Tony Stark'] = None
x['Tony Stark']

<br>
Iterate over all of the keys:

In [19]:
for name in x:
    print(x[name])

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the values:

In [20]:
for email in x.values():
    print(email)

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the items in the list:

In [21]:
for name, email in x.items():
    print(name)
    print(email)

Kevyn Collins-Thompson
None
Bill Gates
billg@microsoft.com
Christopher Brooks
brooksch@umich.edu

In [17]:
#Exercise: Create a dictionary called classes, with the classes you're taking as key, 
#and the grade that your want to recieve as index

In [18]:
#Exercise: print out all key, values from your diciotnary in the following format:
#"The grade that I want to revieve for ____ class is ____"

<br>
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com', 'San Diego')
fname, lname, email = x

<br>
# More on Strings and Printing

In [ ]:
print('Mars' + 2)

In [ ]:
print('Mars' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [19]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [20]:
#Another method
print('%s bought %i item(s) at a price of %f each for a total of %f'%(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.240000 each for a total of 12.960000

In [ ]:
#Exercise: print out "I took 'a' shots and drank 'b' bottles of beer yesterday night"
a = 7
b = 2