<br>
# Mars' Python Tutorial 2

In [17]:
#Review Exercise: Create a dictionary called classes, with the classes you're taking as key, and the grade that your want to recieve as index

In [18]:
#Review Exercise: Exercise: print out all key, values from your diciotnary in the following format:
#"The grade that I want to revieve for ____ class is ____"

In [ ]:
#Review Exercise: Store your full name in variable "name" and print out the reverse of the even characters
# eg Mars_Huang = gaHsa

<br>
# Unpacking
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com', 'San Diego')
fname, lname, email = x

You can also unpack from a list

In [1]:
x = ['Mars','Huang','marshuang80@gmail.com']
fname, lname, email = x

<br>
# More on Strings and Printing

In [ ]:
print('Mars' + 2)

In [ ]:
print('Mars' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [19]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

Notice how you don't need to convert int or float to string using format

In [20]:
#Another method
print('%s bought %i item(s) at a price of %f each for a total of %f'%(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.240000 each for a total of 12.960000

In [ ]:
#Exercise: print out "I took 'a' shots and drank 'b' bottles of beer yesterday night"
a = 7
b = 2

# The Python Programming Language: Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
Assign function `add_numbers` to variable `a`.

In [4]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

In [22]:
##Quiz
#make a function that has two parameters: a list of numbers "num" a second number "val"
#return the sum of all odd numbers in num, minus the sum of all even numbers, 
#and multiply by val if a second parameter is given
num = [14,7,2,4,5,6,9,13,17,4,16,9,0,3]

#write function below

#two test cases:
print(get_result(num))
print(get_result(num,7)

# Reading and Writing files

Learning the "with open... as" syntax'

r stands for "read"

In [2]:
with open ("practice.txt","r") as file:
    print(file)

<_io.TextIOWrapper name='practice.txt' mode='r' encoding='US-ASCII'>

In [3]:
with open("practice.txt","r") as file:
    print(file.read())

hi my name is mars
welcome to my workshop

In [5]:
text = []
with open("practice.txt","r") as file:
    for line in file:
        text.append(line)
print(text)

['hi guys, name is mars \n', 'welcome to my workshop\n', 'i enjoy eating mars bars\n', 'and i steal them from the candy shop\n']

In [ ]:
##Pop-quiz: remove the \n symbol from the list

<br>
# CSV files
CSV files stand for comma seperated values, which how programs like excel format their files. 

<img src="example.png">

In [11]:
#Exercise open this file and store the information in a list

['2012',
 'MITSUBISHI',
 'i-MiEV',
 'SUBCOMPACT',
 '49',
 'A1',
 'B',
 '16.9',
 '21.4',
 '18.7',
 '1.9',
 '2.4',
 '2.1',
 '0',
 'n/a',
 '100',
 '7\n']

In [22]:
import csv

%precision 2

with open('cars.csv') as csvfile:
    cars = list(csv.DictReader(csvfile))
    
cars[:3] # The first three dictionaries in our list.

[{'(g/km)': '0',
  '(kW)': '49',
  '(km)': '100',
  'CITY (Le/100 km)': '1.9',
  'CITY (kWh/100 km)': '16.9',
  'COMB (Le/100 km)': '2.1',
  'COMB (kWh/100 km)': '18.7',
  'HWY (Le/100 km)': '2.4',
  'HWY (kWh/100 km)': '21.4',
  'Make': 'MITSUBISHI',
  'Model': 'i-MiEV',
  'RATING': 'n/a',
  'Size': 'SUBCOMPACT',
  'TIME (h)': '7',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2012'},
 {'(g/km)': '0',
  '(kW)': '80',
  '(km)': '117',
  'CITY (Le/100 km)': '2.2',
  'CITY (kWh/100 km)': '19.3',
  'COMB (Le/100 km)': '2.4',
  'COMB (kWh/100 km)': '21.1',
  'HWY (Le/100 km)': '2.6',
  'HWY (kWh/100 km)': '23.0',
  'Make': 'NISSAN',
  'Model': 'LEAF',
  'RATING': 'n/a',
  'Size': 'MID-SIZE',
  'TIME (h)': '7',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2012'},
 {'(g/km)': '0',
  '(kW)': '107',
  '(km)': '122',
  'CITY (Le/100 km)': '2.1',
  'CITY (kWh/100 km)': '19.0',
  'COMB (Le/100 km)': '2.2',
  'COMB (kWh/100 km)': '20.0',
  'HWY (Le/100 km)': '2.4',
  'HWY (kWh/100 km)': '21.1',
  'Make': 'FORD',
  'Model': 'FOCUS ELECTRIC',
  'RATING': 'n/a',
  'Size': 'COMPACT',
  'TIME (h)': '4',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2013'}]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [23]:
len(cars)

53

<br>
since mpg is a list of dictionaries, `keys` gives us the column names of our csv.

In [15]:
cars[0].keys()

dict_keys(['RATING', 'HWY (kWh/100 km)', 'CITY (Le/100 km)', 'COMB (Le/100 km)', 'TYPE', 'Size', '(km)', 'Model', 'HWY (Le/100 km)', 'Unnamed: 5', 'Make', '(kW)', 'TIME (h)', 'YEAR', 'CITY (kWh/100 km)', 'COMB (kWh/100 km)', '(g/km)'])

In [27]:
##Exercise: calculate the average electricity consumption while driving in the city

2.21

In [29]:
##Exercise2: count how many different brands of cars there are, and print out all the different brands once

8

# List Comprehension